$SUFFIX_D0:          d0;
$SUFFIX_D1:          d1;
$SUFFIX_D2:          d2;
$SUFFIX_D3:          d3;
$SUFFIX_D4:          d4;
$SUFFIX_D5:          d5;
$SUFFIX_D6:          d6;
$SUFFIX_D7:          d7;
$SUFFIX_D8:          d8;
$SUFFIX_D9:          d9;
$SUFFIX_D000:        d000;
$SUFFIX_POINT:       point;
$SUFFIX_SIGN:        sign;
$SUFFIX_ADD:         add;
$SUFFIX_SUB:         sub;
$SUFFIX_MUL:         mul;
$SUFFIX_DIV:         div;
$SUFFIX_EVAL:        eval;
$SUFFIX_L_BR:        lbr;
$SUFFIX_R_BR:        rbr;
$SUFFIX_MOVE_L:      movl;
$SUFFIX_MOVE_R:      movr;
$SUFFIX_RESET:       reset;
$SUFFIX_MEM_ADD:     madd;
$SUFFIX_MEM_SUB:     msub;
$SUFFIX_MEM_CLEAR:   mclear;
$SUFFIX_MEM_RESTORE: mrestore;
$SUFFIX_SIN:         sin;
$SUFFIX_COS:         cos;
$SUFFIX_TAN:         tan;
$SUFFIX_ASIN:        asin;
$SUFFIX_ACOS:        acos;
$SUFFIX_ATAN:        atan;
$SUFFIX_PI:          pi;
$SUFFIX_EXP:         exp;
$SUFFIX_COMMA:       comma;
$SUFFIX_PERCENT:     percent;
$SUFFIX_SQRT:        sqrt;
$SUFFIX_LN:          ln;
$SUFFIX_INVERSE:     inverse;
$SUFFIX_AVG:         avg;
$SUFFIX_DEG:         degrad;
$SUFFIX_BACK:        back;
$SUFFIX_DEL:         del;
$SUFFIX_ROOT_Y:      rooty;
$SUFFIX_LOG_Y:       logy;
$SUFFIX_LOG_10:      log10;
$SUFFIX_POW_Y:       powy;
$SUFFIX_POW_OF_10:   pow10;

:export {
  D0:          $SUFFIX_D0;
  D1:          $SUFFIX_D1;
  D2:          $SUFFIX_D2;
  D3:          $SUFFIX_D3;
  D4:          $SUFFIX_D4;
  D5:          $SUFFIX_D5;
  D6:          $SUFFIX_D6;
  D7:          $SUFFIX_D7;
  D8:          $SUFFIX_D8;
  D9:          $SUFFIX_D9;
  D000:        $SUFFIX_D000;
  POINT:       $SUFFIX_POINT;
  SIGN:        $SUFFIX_SIGN;
  ADD:         $SUFFIX_ADD;
  SUB:         $SUFFIX_SUB;
  MUL:         $SUFFIX_MUL;
  DIV:         $SUFFIX_DIV;
  EVAL:        $SUFFIX_EVAL;
  L_BR:        $SUFFIX_L_BR;
  R_BR:        $SUFFIX_R_BR;
  MOVE_L:      $SUFFIX_MOVE_L;
  MOVE_R:      $SUFFIX_MOVE_R;
  RESET:       $SUFFIX_RESET;
  MEM_ADD:     $SUFFIX_MEM_ADD;
  MEM_SUB:     $SUFFIX_MEM_SUB;
  MEM_CLEAR:   $SUFFIX_MEM_CLEAR;
  MEM_RESTORE: $SUFFIX_MEM_RESTORE;
  SIN:         $SUFFIX_SIN;
  COS:         $SUFFIX_COS;
  TAN:         $SUFFIX_TAN;
  ASIN:        $SUFFIX_ASIN;
  ACOS:        $SUFFIX_ACOS;
  ATAN:        $SUFFIX_ATAN;
  PI:          $SUFFIX_PI;
  EXP:         $SUFFIX_EXP;
  COMMA:       $SUFFIX_COMMA;
  PERCENT:     $SUFFIX_PERCENT;
  SQRT:        $SUFFIX_SQRT;
  LN:          $SUFFIX_LN;
  INVERSE:     $SUFFIX_INVERSE;
  AVG:         $SUFFIX_AVG;
  DEG:         $SUFFIX_DEG;
  BACK:        $SUFFIX_BACK;
  DEL:         $SUFFIX_DEL;
  ROOT_Y:      $SUFFIX_ROOT_Y;
  LOG_Y:       $SUFFIX_LOG_Y;
  LOG_10:      $SUFFIX_LOG_10;
  POW_Y:       $SUFFIX_POW_Y;
  POW_OF_10:   $SUFFIX_POW_OF_10;
}

