@import '../../config/namespace.scss';
@import '../../config/constants.scss';

.#{$Calculator} {
  width: 100%;
  height: 100%;
  background-color: #345;
  border: solid 3px #012;
  border-top-color: #233;
  border-left-color: #233;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
  position: relative;
}

.#{$Calculator}--display {
  height: $calcDisplayHeightPx;
  width: calc(100% - #{$calcDisplayHMargin * 2});
  background-color: #ffb;
  margin: $calcDisplayVMargin $calcDisplayHMargin;
  border: 1px black solid;
}

.#{$Calculator}--operations {
  height: $calcOperationsHeightPx;
  width: 100%;
  font-family: 'Gaegu';
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
}

.#{$Calculator}--result {
  height: #{$calcDisplayHeightPx - $calcOperationsHeightPx};
  width: 100%;
  font-family: 'Orbitron';
  font-size: 30px;
  text-align: right;
  padding: 5px 10px;
}

.#{$Calculator}--keypad {
  margin: $calcButtonVMargin $calcButtonHMargin;
  height: calc(100% - #{$calcDisplayFullHeightPx + $calcButtonVMargin * 2});
  width: calc(100% - #{$calcButtonHMargin * 2});
  position: relative;
}

.#{$Calculator}--button {
  width: 20%;
  height: 20%;
  position: absolute;
}

.#{$Calculator}--button > button {
  width: calc(100% - #{$calcButtonHMargin * 2});
  height: calc(100% - #{$calcButtonVMargin * 2});
  margin: $calcButtonVMargin $calcButtonHMargin;
  background-color: #122;
  color: white;
  font-family: 'Orbitron';
  font-size: 18px;
  border: 1px outset grey;
}

.#{$Calculator}--button > button:active {
  border: 1px inset grey;
}

.#{$Calculator}--button > button:focus {
  outline: 0;
}

.#{$Calculator}--button > button::-moz-focus-inner {
  border: 0;
}

.#{$Calculator}--button-r1{
  top: 20%;
}

.#{$Calculator}--button-r2{
  top: 40%;
}

.#{$Calculator}--button-r3{
  top: 60%;
}

.#{$Calculator}--button-r4{
  top: 80%;
}

.#{$Calculator}--button-c1{
  left: 20%;
}

.#{$Calculator}--button-c2{
  left: 40%;
}

.#{$Calculator}--button-c3{
  left: 60%;
}

.#{$Calculator}--button-c4{
  left: 80%;
}

.#{$Calculator}--button-h2{
  height: 40%;
}

.#{$Calculator}--button-w2{
  width: 40%;
}
