$Application: app;
$TopLayout:   calctop;
$Calculator:  calc;
$Button:      calcbtn;
$Menu:        menu;

:export {
  Application: $Application;
  Calculator: $Calculator;
  Button: $Button;
  TopLayout: $TopLayout;
  Menu: $Menu;
}
