$Application:        app;
$TopLayout:          calctop;
$Calculator:         calc;
$AdvancedCalculator: advcalc;
$Button:             calcbtn;
$Menu:               menu;

:export {
  Application: $Application;
  Calculator: $Calculator;
  AdvancedCalculator: $AdvancedCalculator;
  Button: $Button;
  TopLayout: $TopLayout;
  Menu: $Menu;
}
