@import '../../config/namespace.scss';
@import '../../config/constants.scss';

body {
  overflow: hidden;
}
/*
.#{$TopLayout}--menu {
  position: absolute;
  top: 100vh;    
  width: 100%;
  height: calc(100vh - #{$headerHeightPx});
  transition: top 200ms;
}*/
/*
.#{$TopLayout}-toggled .#{$TopLayout}--menu{
  top: $headerHeightPx;
}*/
/*
.#{$TopLayout}--menu > * {
  position: static;
}
*/
.#{$TopLayout}--content {
  margin-top: calc(50vh - #{$calcHeigthPx / 2});
  margin-bottom: calc(50vh - #{$calcHeigthPx / 2});
  margin-left: calc(50% - #{$calcWidthPx / 2});
  margin-right: calc(50% - #{$calcWidthPx / 2});
  width: $calcWidthPx;
  height: $calcHeigthPx;
}

.#{$TopLayout}--content > div {
  position: static;
}

/*
.#{$TopLayout}-toggled .#{$TopLayout}--content{
  top: calc(2 * #{$headerHeightPx} - 100vh);
}*//*

.#{$TopLayout}--header {
  position: absolute;
  width: 100%;
  height: $headerHeightPx;
}*/
