$keypadButtonHMarginPx: 4px;
$keypadButtonVMarginPx: 4px;

$topLayoutLeftWidth: 15%;
$topLayoutRightWidth: 15%;
$topLayoutCenterWidth: 100% - $topLayoutLeftWidth - $topLayoutRightWidth;

$mathCalcHeightPx: 400px;
$mathCalcDisplayHeight: 20%;
